
body {
	font-family: "Microsoft Himalaya";
	font-size: 62.5%;
	margin: 0;

	}
* {
	font-family: inherit;
	box-sizing: border-box;
}
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	font-size: 1.5rem;
}

.nav li {
	display: inline;
	color: white;
	
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}

.navbar-brand {
	font-size: 60px;
	
	
}

.article-piece {
	font-size: 1.5rem;
	line-height: normal;
	padding: 0 3rem;
	/* margin: 0 .5rem; */
}

.myauto {
	margin-top: auto;
	margin-bottom: auto;
	
}





.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.navbar-brand {
	font-size: 3rem;
	font-weight: 600;
	padding: 0;
	position: static;
}

.container {
	width: 100%;
}


.article-container {
	font-size: 1.5rem;
	padding: .25rem 5rem 0;
	position: relative;
}

.date-article__posted {
	position: relative;
	left: 30%;
	
}

.date-article__posted, .article-container h3 {
	color: #A2ABB5;
}

.article-container h3 {
	font-size: 2.5rem;
}

.carousel-inner {
	width: 85%;
	margin: auto;
}

.carousel-indicators li {
	background-color: #999;
	background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel-indicators .active {
	background-color: #444;
  }

  .carousel-indicators {
	 margin-bottom: -3rem;
  }
  
  .index-carousel-inner {
	width:60%;
	height:80%;
	margin: auto;
}


.hover-class:hover {
	background-color: #d1d1d1;
	text-decoration: none;
	font-style: normal;
	color: black;
}

.article-link {
	text-decoration: none;
	font-style: normal;
	color: black;
}


.imgbox {
	width: 100%;
}

